/* Estilo general del cuerpo */
body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg, #007BFF 25%, #66B2FF 25%, #66B2FF 50%, #99CCFF 50%, #99CCFF 75%, #007BFF 75%);
    background-size: 300% 300%;
    animation: gradient 30s linear infinite;
    display: flex;
    flex-direction: column; /* Para organizar el contenido verticalmente */
    height: 100vh; /* Ocupa toda la pantalla */
    
}

/* Animación del fondo */
@keyframes gradient {
    0% { background-position: 0% 50%; }
    100% { background-position: 300% 50%; }
}

/* Estilos para la barra de navegación */
.navbar {
    padding: 10px 20px; /* Uniforme para asegurar consistencia */
    background-color: #004494;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 70px; /* Altura fija del navbar */
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .profile-pic {
    width: 50px; /* Tamaño fijo de la imagen */
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover; /* Ajuste sin deformar la imagen */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px; /* Aumenta el espacio entre los elementos */
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.4s ease, color 0.4s ease; /* Transición suave */
}

.nav-links a:hover {
    background-color: #99CCFF; /* Un azul claro y suave */
    color: #003366; /* Azul oscuro para el texto, manteniendo el contraste suave */
    border-radius: 5px; /* Redondea las esquinas suavemente */
}

/* Contenido principal */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea los elementos desde el principio */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center;
    padding: 20px;
    height: auto; /* Deja que el contenedor tome el tamaño necesario */
    margin-bottom: 50px; /* Añade margen inferior para separarlo del footer */
}

/* Título principal */
.main-content h1 {
    font-size: 2.5em;
    color: #333;
    margin-top: 20px; /* Añade margen superior */
    margin-bottom: 30px;
}

/* Descripción principal */
.main-content p {
    margin-bottom: 40px; /* Añade espacio debajo del párrafo */
    color: #555;
    font-size: 1.2em;
}

/* Contenedor de las tarjetas de algoritmos */
.algorithms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
    align-items: center;
    margin: 20px;
    width: 90%;
}

.algorithm-card {
    margin: 20px;
    background-color: #FDBA50;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    color: #333;
    font-size: 1.2em;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 90%;
    position: relative;
    overflow: hidden;
}

.algorithm-card img {
    max-width: 60%;
    max-height: 120px;
    object-fit: contain;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.algorithm-card span {
    margin-top: 0;
    font-size: 1.5em;
    word-wrap: break-word;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.algorithm-card:hover span {
    transform: translateY(50px);
}

.algorithm-card:hover img {
    top: 20px;
    opacity: 1;
}

/* Efecto hover */
.algorithm-card:hover {
    transform: scale(1.05);
    background-color: #FFA500;
}

footer {
    padding-top: 20px;
    background-color: #004494;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Ajustes específicos para pantallas grandes */
@media (min-width: 2560px) {
    .section {
        font-size: 1.2rem; /* Aumentar el tamaño del texto */
        padding: 15px; /* Más espacio interno */
        max-height: 1000px; /* Incrementar el límite de altura */
    }
}

/* Ajustes específicos para pantallas pequeñas */
@media (max-width: 768px) {
    .section {
        height: calc(90% - 10px); /* Reducir altura para dispositivos más pequeños */
        font-size: 0.9rem; /* Reducir tamaño de fuente */
        padding: 8px; /* Espaciado interno más compacto */
    }
}
