body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    height: 100vh;
    background: linear-gradient(135deg, #007BFF 25%, #66B2FF 25%, #66B2FF 50%, #99CCFF 50%, #99CCFF 75%, #007BFF 75%);
    background-size: 300% 300%;  /* Puedes ajustar según prefieras el tamaño de desplazamiento */
    animation: gradient 30s linear infinite;  /* Aumenta el tiempo para un movimiento más suave */
}

/* Animación del fondo */
@keyframes gradient {
    0% { background-position: 0% 50%; }
    100% { background-position: 300% 50%; }  /* Se mueve de 0% a 300%, en una sola dirección */
}
