/* Fondo animado aplicado al body */
body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg, #007BFF 25%, #66B2FF 25%, #66B2FF 50%, #99CCFF 50%, #99CCFF 75%, #007BFF 75%);
    background-size: 300% 300%;
    animation: gradient 30s linear infinite;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


@keyframes gradient {
    0% { background-position: 0% 50%; }
    100% { background-position: 300% 50%; }
}

/* Contenedor principal usando Grid */
.grid-container {
    display: grid;
    grid-template-rows: 95% 5%; /* Primera fila 95%, segunda fila 5% */
    width: 90%;
    height: calc(100vh - 120px); /* Altura total ajustada al viewport */
    margin: 100px auto; /* Centrar contenedor horizontalmente */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    gap: 10px; /* Espaciado entre filas */
}


/* Sección principal */
.section {
    height: 100%; /* Ocupar todo el espacio de la fila */
    padding: 10px;
    font-size: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: auto;
}

/* Botón con contraste */
.btn-primary {
    display: inline-block;
    background-color: #0056b3;
    color: white;
    padding: 12px 25px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    width: auto; /* Asegurar que no sea más ancho que necesario */
    max-width: 100%; /* Limitar el ancho máximo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
    background-color: #66B2FF;
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Estilos para la barra de navegación */
.navbar {
    padding: 10px 20px; /* Ajuste uniforme */
    height: 70px; /* Altura fija */
    background-color: #004494;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar h2 {
    margin: 0;
    font-size: 1.5em;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.nav-links a:hover {
    background-color: #99CCFF;
    color: #003366;
    border-radius: 5px;
}



#tree-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recorrido-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    margin-top: 20px;
}

#recorrido-buttons {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
}


.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}



#array-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

/* Botón con contraste */
.btn {
    display: inline-block;
    background-color: #0056b3;
    color: white;
    padding: 12px 25px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: #66B2FF;
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

button {
    
    padding: 12px 25px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1e6e8b;
}

/* Media Queries */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links {
        flex-direction: column;
        gap: 10px;
    }
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Cambia a una columna en pantallas pequeñas */
        padding: 10px;
    }
}
